@import '../../../../styles/colors.scss';

.Message {
    margin: 10px 25px;
    padding: 8px 60px 8px 12px;
    border-radius: 11px;
    box-sizing: border-box;
    max-width: 50%;
    font-size: 0.8rem;
    box-shadow: 1px 1px 1px 0 rgba(100,100,100,0.2);
    position: relative;
}
@media (min-width: 800px) {
    .Message {
        margin: 10px 50px;
    }
}

.Received {
    margin-right: auto;
    background: $received-msg-bg;
}

.Sent {
    margin-left: auto;
    background: $sent-msg-bg;
}

/* Triangle shapes */
.Sent:before,
.Received:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    width: 20px;
    height: 12px;
}
.Received:before {
    left: -4px;
    transform: skewX(40deg);
    background: $received-msg-bg;
}
.Sent:before {
    right: -4px;
    transform: skewX(-40deg);
    background: $sent-msg-bg;
}