@import '../../../../styles/colors.scss';

.Contact {
    height: 70px;
    padding-left: 30px;
    background: #fff;
    border-bottom: 1px solid rgba(221, 210, 192, 0.555);
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.Contact:hover {
    background-color: $sidebar-active;
    cursor: pointer;
}

.active,
.active:hover {
    background-color: $sidebar-active;
}
