.Messages {
    flex: 1;
    padding: 15px 0;
    position: relative;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.Messages::before {
    display: block;
    content: '';
    flex: 1;
}

/* custom scrollbar */
.Messages::-webkit-scrollbar-track
{
	background-color: transparent;
}

.Messages::-webkit-scrollbar
{
	width: 6px;
}

.Messages::-webkit-scrollbar-thumb
{
	background-color: rgba(0,0,0,0.15);
}
